/* src/components/ProductSelector/styles.module.css */
.productSelector {
    padding: 0.5rem;
  }
  
  .select {
    background: var(--ifm-background-color);
    border: 1px solid var(--ifm-color-emphasis-300);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
    font-size: 1rem;
    color: var(--ifm-font-color-base);
    cursor: pointer;
  }
  
  .select:hover {
    border-color: var(--ifm-color-primary);
  }